import { initializeApp } from "../app/app-initializer";
import { localEnvironment } from "./environment.local";

export const environment = {
    production: true,
    apiUrl: '',
    path: {
        login: ''
    },
    ...localEnvironment,
    protheusLibCore: 'pro',
    iniApp: initializeApp
};